<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.2.1" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Core-log4net" version="3.2.0" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor-log4net" version="3.2.0.1" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="Dapper" version="1.50.1" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.WindowsAzure.TransientFaultHandling" version="5.1.1212.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Polly" version="4.1.1" targetFramework="net45" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.1.603" targetFramework="net45" />
  <package id="TransientFaultHandling.Core" version="5.1.1209.0" targetFramework="net45" />
  <package id="Unity" version="2.1.505.0" targetFramework="net45" />
  <package id="Unity.Interception" version="2.1.505.0" targetFramework="net45" />
</packages>
